.detailsimg {
    border: 1px solid rgb(17, 182, 17);
    border-radius: 4px;
    padding: 5px;
    max-width: 100%;
    height: auto;
}

h1 {
    color:  rgb(17, 182, 17)
}

.page-link {
    color: rgb(17, 182, 17) !important;
    border: 1px solid rgb(17, 182, 17) 
    
}

.page-link:hover {
    color: rgb(17, 182, 17);
}

.imageFade {
    background: #353535;
    max-height: 650px;
    animation: animateGrid 2s;
  }

@keyframes animateGrid {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }   
}
