button {
  font-family: 'RocknRoll One', sans-serif !important;
}

.detailsimg {
    border: 1px solid rgb(17, 182, 17);
    border-radius: 4px;
    padding: 5px;
    max-width: 100%;
    height: auto;
}

h1 {
    color: white;
}

.page-link {
    color: rgb(17, 182, 17) !important;
    border: 1px solid rgb(17, 182, 17) 
    
}

.page-link:hover {
    color: rgb(17, 182, 17);
}

.imageFade {
    background: #353535;
    max-height: 650px;
    animation: animateGrid 2s;
  }

@keyframes animateGrid {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }   
}  
  .search {
    height: 100px;
  }
  
  input[type='text'] {
    display: block;
    padding: 10px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    outline: none;
  }

  .awssld{
    --organic-arrow-color: #09ff2f !important;
    --control-bullet-color:  rgba(54, 200, 86, 0.5)!important;
    --control-bullet-active-color: rgb(54, 200, 86) !important;
  }

.w3-leftbar {
    border-left: 6px solid #346e53 !important;
}
