html, body, p, h1, h2, h3, h4, h5, h6, div, button {
  font-family: 'RocknRoll One', sans-serif !important;
}

html,
body {
  background: url("./img/321927.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 100%;
  color: #fff;
}

.main {
  min-height: 100vh;
}

.container-img {
  width: 80%;
  margin: auto;
}

.quote-div {
  background: rgba(54, 200, 86, 0.5);
}
