html,
body {
  background: url("./img/321927.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   
   min-height: 100%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  min-height: 100vh;
}

/* */
/* https://wallpapercave.com/w/7qfnoDC */
